#heading
{
    font-size: 36px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    background-color: bisque;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#output, #totalMoney
{
    font-weight: 1500;
    font-size: 24px;
}

button
{
    background-color: gray;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
    transition:100ms;
}

button:hover
{
    background-color: rgb(167, 167, 167);
    border-radius: 5px;
    font-size: 21px;
    color:rgb(31, 31, 31);
}